<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/bootstrap.css">

</head>

<body>
    {% load static %}
    {% include "./navbar.html" %} 

    {%block content%}
    {%endblock content%}


    <script type="text/javascript" src="{%static 'JS/jquery.js'%}"></script>
    <script type="text/javascript" src="{%static 'JS/propper.js'%}"></script>
    <script type="text/javascript" src="{%static 'JS/bootstrap.js'%}"></script>

</body>

</html>